
      .content {
      /* background-color: rgba(50,50,50,1); */
      width:96%;
      margin-left:auto;
      margin-right:auto;
      max-width: 1600px;
      }
      
      .container {
      display:-webkit-flex;
      display. -ms-flex;
      display: flex;
      margin-bottom: 2%;
      }

      .topicbutton {
	  background-color: rgba(150,160,160,0.9);
	  border: black;
	  color: white;
	  padding: 12px 35px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  margin: 5px;
	  font-size:16px;
      }
      
      .paperbutton {
	  border: none;
	  color: rgba(0,0,100,0.9);
	  margin: 0px;
	  display: inline; 
      }

      .paperbutton:hover {
	  background-color: rgba(90,100,100,0.3);
      }
      
      .aligncontainer {
	  display:-webkit-flex;
	  display. -ms-flex;
	  display: flex;  
      }

      .column {
      display:-webkit-flex;
      display. -ms-flex;
      display: flex;
      }

      .column-half {
      order: 1;
      width:50%
      }
      
      .row {
	  display: flex;
      }
      
      .column_left {
	  flex: 50%;
      }
      .column_right {
	  flex: 50%;
	  align: right;
      }
      .large_device {}
      .small_device {
	  display: none;
      }
      @media (max-width: 1200px) {
	  .large_device {
	      display: none;
	  }
	  .small_device {
	      display: inline;
	  }
	  .column_left{
	      flex: 100%;
	  }
	  .column_right{
	      flex: 0%;
	      display: none;
	  }
      }

      
      .textbox{
      width:94%;
      padding: 1%;
      margin-left:auto;
      margin-right:auto;
      margin-top:1%;
      margin-bottom:1%;
      /* border: 6px solid rgba(80,80,80,1);  */
      }

      .imgbox{
      padding: 1%;
      margin-left:auto;
      margin-right:auto;
      margin-top:1%;
      margin-bottom:1%;
      }
       
      body{
      font-family:"Helvetica", "Verdana","Arial", sans-serif;
      }

      a{
      text-decoration:none;
      }

      a:link{
      color: rgba(80,0,20,1)
      }

      a:hover{
      
      }
      
      .color_3{
      background-color:rgba(220,240,240,0.9)
      }

      .color_4{
	  background-color:rgba(255,200,220,0.9)
      }

/*       .overall_back{ */
/* <!--	  background: rgb(4,50,32,1); --> */
/*          background-attachment: fixed; */
/*          background-size: 99%; */
/*       } */

      body {
	  background-attachment: fixed;
	  background-size: cover;
	  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1000px" height="700px" viewbox="0 0 800 800" preserveAspectRatio="slice" ><polygon points="324.208,781.639 284.912,530.707 146.312,974.185" style="fill:rgba(150,10,30,0.3)" /><polygon points="785.767,884.242 544.222,552.049 393.023,1006.634" style="fill:rgba(150,10,30,0.3)" /><polygon points="268.138,-4.236 251.702,328.927 583.834,407.975" style="fill:rgba(150,10,30,0.3)" /><polygon points="283.571,393.44 -31.633,-11.632 29.212,-34.734" style="fill:rgba(150,10,30,0.3)" /><polygon points="812.354,878.83 1240.515,1238.444 1090.962,815.262" style="fill:rgba(150,10,30,0.3)" /><polygon points="903.934,639.217 1074.234,880.256 632.608,497.171" style="fill:rgba(150,10,30,0.3)" /><polygon points="1155.817,930.272 1100.418,847.539 961.532,1075.233" style="fill:rgba(150,10,30,0.3)" /><polygon points="776.711,23.587 770.998,264.487 1330.088,219.337" style="fill:rgba(150,10,30,0.3)" /><polygon points="1206.258,-93.688 1260.281,-94.205 843.624,270.627" style="fill:rgba(150,10,30,0.3)" /><polygon points="1205.002,1079.475 1067.216,939.933 739.299,880.728" style="fill:rgba(150,10,30,0.3)" /><polygon points="699.889,967.077 759.118,598.297 795.041,688.308" style="fill:rgba(150,10,30,0.3)" /><polygon points="1059.784,635.043 688.13,404.271 657.854,444.289" style="fill:rgba(150,10,30,0.3)" /><polygon points="318.551,681.749 17.192,531.773 69.004,515.466" style="fill:rgba(150,10,30,0.3)" /><polygon points="260.359,740.998 611.058,1160.775 502.1,740.97" style="fill:rgba(150,10,30,0.3)" /><polygon points="666.928,625.007 243.148,846.968 673.7,981.649" style="fill:rgba(150,10,30,0.3)" /><polygon points="1001.452,540.591 612.901,768.004 902.291,532.151" style="fill:rgba(150,10,30,0.3)" /><polygon points="1191.752,464.568 797.664,373.581 694.546,638.723" style="fill:rgba(150,10,30,0.3)" /><polygon points="-4.451,468.268 251.751,657.291 -163.165,656.054" style="fill:rgba(150,10,30,0.3)" /><polygon points="502.024,1179.964 364.86,666.01 426.29,667.671" style="fill:rgba(150,10,30,0.3)" /><polygon points="807.127,194.768 393.498,-1.876 571.289,-162.227" style="fill:rgba(150,10,30,0.3)" /><polygon points="614.528,853.543 473.635,1185.4 180.198,1105.977" style="fill:rgba(150,10,30,0.3)" /><polygon points="1046.148,-250.275 747.956,-149.048 1115.417,-109.661" style="fill:rgba(150,10,30,0.3)" /><polygon points="1209.503,773.663 817.667,818.441 946.397,545.846" style="fill:rgba(150,10,30,0.3)" /><polygon points="51.534,458.53 380.091,134.684 -199.002,394.533" style="fill:rgba(150,10,30,0.3)" /><polygon points="314.0,95.799 242.835,-12.551 495.354,89.593" style="fill:rgba(150,10,30,0.3)" /><polygon points="1135.093,1305.045 1301.966,1149.132 778.347,968.798" style="fill:rgba(150,10,30,0.3)" /><polygon points="-1.62,1253.901 84.212,1128.366 -132.562,896.603" style="fill:rgba(150,10,30,0.3)" /><polygon points="-16.391,183.433 285.496,391.485 245.772,-96.66" style="fill:rgba(150,10,30,0.3)" /><polygon points="166.549,164.603 221.323,268.774 380.93,273.173" style="fill:rgba(150,10,30,0.3)" /><polygon points="1088.673,336.017 708.701,611.178 828.581,694.873" style="fill:rgba(150,10,30,0.3)" /><polygon points="403.074,590.966 588.226,503.451 223.845,323.756" style="fill:rgba(150,10,30,0.3)" /><polygon points="347.59,85.527 541.749,-220.471 863.819,271.704" style="fill:rgba(150,10,30,0.3)" /><polygon points="-44.321,528.468 -104.792,644.259 417.283,793.355" style="fill:rgba(150,10,30,0.3)" /><polygon points="907.046,1171.083 861.022,712.622 842.179,819.258" style="fill:rgba(150,10,30,0.3)" /><polygon points="127.021,1100.667 424.857,1155.211 555.646,1124.45" style="fill:rgba(150,10,30,0.3)" /><polygon points="310.675,1238.188 -101.869,948.229 266.621,759.927" style="fill:rgba(150,10,30,0.3)" /><polygon points="696.066,756.309 744.873,1166.434 1024.381,979.731" style="fill:rgba(150,10,30,0.3)" /><polygon points="124.116,462.449 517.571,483.555 504.056,355.766" style="fill:rgba(150,10,30,0.3)" /><polygon points="-180.07,751.543 72.708,808.971 247.746,912.133" style="fill:rgba(150,10,30,0.3)" /><polygon points="455.999,104.667 536.849,178.314 262.717,671.164" style="fill:rgba(150,10,30,0.3)" /><polygon points="641.8,334.492 910.63,141.51 604.84,-137.068" style="fill:rgba(150,10,30,0.3)" /><polygon points="1269.49,475.153 1155.306,710.516 1233.336,704.243" style="fill:rgba(150,10,30,0.3)" /><polygon points="764.874,197.816 375.962,360.038 263.878,418.937" style="fill:rgba(150,10,30,0.3)" /><polygon points="890.257,12.525 1026.034,96.488 728.309,-21.463" style="fill:rgba(150,10,30,0.3)" /><polygon points="319.642,126.374 258.68,271.324 621.012,25.995" style="fill:rgba(150,10,30,0.3)" /><polygon points="249.471,18.459 -62.914,140.537 187.99,-146.287" style="fill:rgba(150,10,30,0.3)" /><polygon points="1056.575,833.297 1200.208,536.628 855.771,413.736" style="fill:rgba(150,10,30,0.3)" /><polygon points="709.036,100.699 505.173,528.687 293.722,165.55" style="fill:rgba(150,10,30,0.3)" /><polygon points="501.411,276.599 435.039,-60.574 590.097,52.196" style="fill:rgba(150,10,30,0.3)" /><polygon points="793.158,71.877 579.33,-229.47 739.437,199.771" style="fill:rgba(150,10,30,0.3)" /><polygon points="703.344,167.872 425.435,590.23 744.063,373.22" style="fill:rgba(150,10,30,0.3)" /><polygon points="847.084,335.51 787.93,370.56 609.008,-111.165" style="fill:rgba(150,10,30,0.3)" /><polygon points="861.837,854.628 539.286,942.862 956.843,978.669" style="fill:rgba(150,10,30,0.3)" /><polygon points="629.249,923.348 568.979,865.009 785.807,1246.274" style="fill:rgba(150,10,30,0.3)" /><polygon points="104.014,830.882 135.062,942.053 377.254,694.655" style="fill:rgba(150,10,30,0.3)" /><polygon points="274.48,280.837 440.824,-64.9 290.502,400.444" style="fill:rgba(150,10,30,0.3)" /><polygon points="975.859,662.294 691.818,808.065 903.781,521.892" style="fill:rgba(150,10,30,0.3)" /><polygon points="534.152,821.343 418.054,787.401 -34.807,1039.791" style="fill:rgba(150,10,30,0.3)" /><polygon points="-103.548,93.863 268.135,-126.167 -167.598,-140.723" style="fill:rgba(150,10,30,0.3)" /><polygon points="890.693,1011.255 923.698,961.837 353.203,1053.335" style="fill:rgba(150,10,30,0.3)" /><polygon points="980.462,-160.853 1279.144,358.385 924.974,76.021" style="fill:rgba(150,10,30,0.3)" /><polygon points="828.233,-63.512 611.099,369.842 418.946,224.394" style="fill:rgba(150,10,30,0.3)" /><polygon points="692.283,608.741 811.862,689.907 822.968,617.099" style="fill:rgba(150,10,30,0.3)" /><polygon points="198.473,1188.943 428.094,834.403 377.835,1118.118" style="fill:rgba(150,10,30,0.3)" /><polygon points="324.654,839.071 688.381,861.061 391.792,1202.686" style="fill:rgba(150,10,30,0.3)" /><polygon points="537.427,329.75 757.254,33.915 953.837,283.404" style="fill:rgba(150,10,30,0.3)" /><polygon points="382.653,-173.971 494.786,25.115 505.185,399.057" style="fill:rgba(150,10,30,0.3)" /><polygon points="853.591,464.227 902.345,83.718 566.115,66.987" style="fill:rgba(150,10,30,0.3)" /><polygon points="930.318,773.706 775.44,490.844 1066.427,418.48" style="fill:rgba(150,10,30,0.3)" /><polygon points="687.722,401.595 665.263,269.486 1062.924,175.28" style="fill:rgba(150,10,30,0.3)" /><polygon points="349.4,443.497 488.88,26.811 539.112,241.022" style="fill:rgba(150,10,30,0.3)" /><polygon points="874.968,104.054 841.284,247.976 705.933,315.074" style="fill:rgba(150,10,30,0.3)" /><polygon points="516.638,885.977 416.885,470.885 419.197,839.812" style="fill:rgba(150,10,30,0.3)" /><polygon points="650.241,166.71 750.514,40.739 862.66,-49.228" style="fill:rgba(150,10,30,0.3)" /><polygon points="614.222,694.417 246.187,716.609 271.666,699.163" style="fill:rgba(150,10,30,0.3)" /><polygon points="1184.003,50.85 1143.512,141.631 863.967,375.978" style="fill:rgba(150,10,30,0.3)" /><polygon points="-29.477,1074.05 -61.818,592.836 155.71,1055.967" style="fill:rgba(150,10,30,0.3)" /><polygon points="137.248,1072.488 39.435,570.415 -6.931,1000.351" style="fill:rgba(150,10,30,0.3)" /><polygon points="889.311,828.802 805.212,798.415 853.104,950.214" style="fill:rgba(150,10,30,0.3)" /><polygon points="950.931,666.195 687.705,471.082 1016.672,204.333" style="fill:rgba(150,10,30,0.3)" /><polygon points="658.554,419.463 705.114,555.159 310.317,514.756" style="fill:rgba(150,10,30,0.3)" /><polygon points="998.272,555.348 724.557,958.357 993.993,641.659" style="fill:rgba(150,10,30,0.3)" /><polygon points="550.865,760.685 529.317,692.454 227.849,849.536" style="fill:rgba(150,10,30,0.3)" /><polygon points="893.821,515.521 1245.693,744.4 1058.823,992.925" style="fill:rgba(150,10,30,0.3)" /><polygon points="569.168,554.786 458.994,55.777 279.13,412.056" style="fill:rgba(150,10,30,0.3)" /><polygon points="1086.944,687.949 861.675,719.303 1153.06,501.547" style="fill:rgba(150,10,30,0.3)" /><polygon points="1063.146,767.693 1066.272,679.821 1052.91,992.655" style="fill:rgba(150,10,30,0.3)" /><polygon points="535.927,800.519 483.745,1196.128 630.98,867.569" style="fill:rgba(150,10,30,0.3)" /><polygon points="72.746,1154.96 -1.681,830.052 207.846,696.548" style="fill:rgba(150,10,30,0.3)" /><polygon points="832.677,464.557 729.103,542.205 996.578,189.817" style="fill:rgba(150,10,30,0.3)" /><polygon points="1179.055,273.011 1045.688,84.39 928.551,133.039" style="fill:rgba(150,10,30,0.3)" /><polygon points="855.221,145.111 899.513,198.825 526.593,437.065" style="fill:rgba(150,10,30,0.3)" /><polygon points="1054.864,1035.006 1072.993,699.585 778.684,751.347" style="fill:rgba(150,10,30,0.3)" /><polygon points="1292.19,516.51 770.922,773.517 958.736,822.419" style="fill:rgba(150,10,30,0.3)" /><polygon points="777.228,543.832 934.451,304.881 1223.135,668.365" style="fill:rgba(150,10,30,0.3)" /><polygon points="882.157,375.672 1048.692,45.539 1030.533,46.542" style="fill:rgba(150,10,30,0.3)" /><polygon points="742.966,668.507 727.894,202.313 266.507,331.605" style="fill:rgba(150,10,30,0.3)" /><polygon points="269.906,226.462 332.862,301.702 339.804,672.198" style="fill:rgba(150,10,30,0.3)" /><polygon points="551.316,684.641 410.935,669.426 331.779,349.355" style="fill:rgba(150,10,30,0.3)" /><polygon points="-26.669,636.712 34.993,569.263 240.909,565.105" style="fill:rgba(150,10,30,0.3)" /><polygon points="755.452,837.021 302.131,999.736 175.738,934.286" style="fill:rgba(150,10,30,0.3)" /><polygon points="1058.382,489.198 864.885,239.627 869.713,243.788" style="fill:rgba(150,10,30,0.3)" /><polygon points="155.297,1165.7 188.201,1198.381 229.926,738.092" style="fill:rgba(150,10,30,0.3)" /><polygon points="331.278,-114.377 121.156,387.276 165.512,-61.203" style="fill:rgba(150,10,30,0.3)" /><polygon points="343.972,1377.551 638.427,1188.266 232.51,1210.58" style="fill:rgba(150,10,30,0.3)" /><polygon points="449.859,948.347 735.497,407.164 683.082,534.5" style="fill:rgba(150,10,30,0.3)" /><polygon points="929.444,593.349 558.822,584.961 774.539,471.884" style="fill:rgba(150,10,30,0.3)" /><polygon points="810.92,213.158 315.523,105.814 450.69,-189.225" style="fill:rgba(150,10,30,0.3)" /><polygon points="404.477,143.424 609.637,114.003 500.549,145.579" style="fill:rgba(150,10,30,0.3)" /><polygon points="227.34,1203.272 428.862,1064.793 137.7,1146.947" style="fill:rgba(150,10,30,0.3)" /><polygon points="1236.17,890.188 700.159,626.644 857.445,652.028" style="fill:rgba(150,10,30,0.3)" /><polygon points="682.676,274.479 724.38,212.03 968.203,255.012" style="fill:rgba(150,10,30,0.3)" /><polygon points="132.878,810.265 524.337,479.183 471.114,551.653" style="fill:rgba(150,10,30,0.3)" /><polygon points="1225.968,1013.139 994.14,755.638 772.128,1117.295" style="fill:rgba(150,10,30,0.3)" /><polygon points="636.555,785.468 678.399,1186.777 808.881,1172.329" style="fill:rgba(150,10,30,0.3)" /><polygon points="429.681,430.859 574.895,592.258 249.454,515.902" style="fill:rgba(150,10,30,0.3)" /><polygon points="558.33,995.463 462.365,613.918 494.162,769.156" style="fill:rgba(150,10,30,0.3)" /><polygon points="476.069,727.796 346.361,163.575 86.233,623.12" style="fill:rgba(150,10,30,0.3)" /><polygon points="-56.627,665.036 389.18,660.51 158.379,1072.222" style="fill:rgba(150,10,30,0.3)" /><polygon points="905.022,189.486 906.51,109.174 1015.655,-176.236" style="fill:rgba(150,10,30,0.3)" /></svg>');
    }
